@use 'config/reset';

.container {
    margin: 10px;
}

header {
    ul {
        margin: 20px;
    }
    li {
        list-style-position: inside;
    }
}

.produtos {
    ul {
        margin: 20px 40px;

        h4 {
            margin: 15px 0px;
        }

        p {
            margin: 15px 0px;
        }
    }
}